**start docker container first!**

In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
import pandas as pd
import dbcp.transform.lbnlisoqueues as lbnl

In [4]:
conn = 'postgresql://postgres:postgres@localhost:5432/postgres'

In [5]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

In [6]:
active = pd.read_sql(
'select * from active_iso_queue_projects',
conn)

completed = pd.read_sql(
'select * from completed_iso_queue_projects',
conn)

withdrawn = pd.read_sql(
'select * from withdrawn_iso_queue_projects',
conn)

In [7]:
queues = {'active_iso_queue_projects': active.copy(),
          'completed_iso_queue_projects': completed.copy(),
          'withdrawn_iso_queue_projects': withdrawn.copy()
         }

In [8]:
normed = lbnl.transform(queues)

In [9]:
proj = normed['iso_projects']
locs = normed['iso_locations']
rescap= normed['iso_resource_capacity']

In [10]:
proj.index.name

'project_id'

In [11]:
assert len(set(locs['project_id']).difference(set(proj.index))) == 0

In [12]:
assert len(set(rescap['project_id']).difference(set(proj.index))) == 0

In [13]:
proj[proj.index.duplicated(keep=False)]

Empty DataFrame
Columns: [date_proposed_raw, developer, entity, interconnection_status_lbnl, interconnection_status_raw, point_of_interconnection, project_name, queue_date, queue_id, queue_status, queue_year, region, resource_type_lbnl, utility, year_proposed, date_proposed, date_operational, days_in_queue, queue_date_raw, year_operational, date_withdrawn_raw, interconnection_status, withdrawl_reason, year_withdrawn, date_withdrawn]
Index: []

In [14]:
proj.merge(locs, on='project_id', how='outer', validate="1:m")

,project_id,date_proposed_raw,developer,entity,interconnection_status_lbnl,interconnection_status_raw,point_of_interconnection,project_name,queue_date,queue_id,queue_status,queue_year,region,resource_type_lbnl,utility,year_proposed,date_proposed,date_operational,days_in_queue,queue_date_raw,year_operational,date_withdrawn_raw,interconnection_status,withdrawl_reason,year_withdrawn,date_withdrawn,county,state
0,0,12/31/2023,None,NWE,In Progress,Active,500kV at Broadview Substation,None,2020-08-13,390,active,2020,West (non-ISO),Battery,Colstrip,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,yellowstone,MT
1,1,12/31/2023,None,PacifiCorp,In Progress,In Progress,Broadview substation,None,2020-07-17,C011,active,2020,West (non-ISO),Battery,Colstrip,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,yellowstone,MT
2,2,12/31/2023,None,Avista,Not Started,New,Broadview Substation 500 kV,None,2020-07-12,107,active,2020,West (non-ISO),Battery,Colstrip,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,yellowstone,MT
3,3,11/15/2024,None,CAISO,Not Started,None,Valley Substation 500kV,MENIFEE POWER BANK,2019-04-15,1645,active,2019,CAISO,Battery,None,2024.0,2024-11-15,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,riverside,CA
4,4,12/31/2021,None,SPP,IA Executed,IA FULLY EXECUTED/ON SCHEDULE,Breckinridge 138kV,None,NaT,GEN-2015-062,active,2015,SPP,Wind,OKGE,2021.0,2021-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,garfield,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14263,14236,12/31/2023,NaN,PJM,NaN,NaN,Freeland #1 Tap-Jeddo-Highland,None,2020-03-27,AF2-262,withdrawn,2020,NaN,Solar,PPL,NaN,2023-12-31,NaT,154.0,3/27/2020,NaN,22155.0,None,None,2020.0,2030-08-29,Luzerne,PA
14264,14237,12/31/2022,NaN,PJM,NaN,NaN,None,None,2020-09-29,AG1-294,withdrawn,2020,NaN,Solar,ME,NaN,2022-12-31,NaT,22.0,9/29/2020,NaN,22209.0,None,None,2020.0,2030-10-22,Adams,PA
14265,14238,12/18/2020,NaN,PJM,NaN,NaN,Flanders 115 kV,None,2020-01-29,AF2-064,withdrawn,2020,NaN,Solar,JCPL,NaN,2020-12-18,NaT,22.0,1/29/2020,NaN,21965.0,None,None,2020.0,2030-02-20,Warren,NJ
14266,14239,9/1/2023,NaN,PJM,NaN,NaN,Rockport 765 kV,None,2020-03-31,AF2-353,withdrawn,2020,NaN,Solar+Battery,AEP,NaN,2023-09-01,NaT,167.0,3/31/2020,NaN,22172.0,None,None,2020.0,2030-09-15,Spencer,IN
14267,14240,12/15/2023,NaN,PJM,NaN,NaN,Keeney-Steele 230 kV,None,2020-03-31,AF2-360,withdrawn,2020,NaN,Solar,DPL,NaN,2023-12-15,NaT,31.0,3/31/2020,NaN,22036.0,None,None,2020.0,2030-05-02,NaN,NaN

In [15]:
locs.merge(proj, on='project_id', how='outer', validate="m:1")

,project_id,county,state,date_proposed_raw,developer,entity,interconnection_status_lbnl,interconnection_status_raw,point_of_interconnection,project_name,queue_date,queue_id,queue_status,queue_year,region,resource_type_lbnl,utility,year_proposed,date_proposed,date_operational,days_in_queue,queue_date_raw,year_operational,date_withdrawn_raw,interconnection_status,withdrawl_reason,year_withdrawn,date_withdrawn
0,0,yellowstone,MT,12/31/2023,None,NWE,In Progress,Active,500kV at Broadview Substation,None,2020-08-13,390,active,2020,West (non-ISO),Battery,Colstrip,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,1,yellowstone,MT,12/31/2023,None,PacifiCorp,In Progress,In Progress,Broadview substation,None,2020-07-17,C011,active,2020,West (non-ISO),Battery,Colstrip,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,2,yellowstone,MT,12/31/2023,None,Avista,Not Started,New,Broadview Substation 500 kV,None,2020-07-12,107,active,2020,West (non-ISO),Battery,Colstrip,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,3,riverside,CA,11/15/2024,None,CAISO,Not Started,None,Valley Substation 500kV,MENIFEE POWER BANK,2019-04-15,1645,active,2019,CAISO,Battery,None,2024.0,2024-11-15,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,4,garfield,OK,12/31/2021,None,SPP,IA Executed,IA FULLY EXECUTED/ON SCHEDULE,Breckinridge 138kV,None,NaT,GEN-2015-062,active,2015,SPP,Wind,OKGE,2021.0,2021-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14263,14173,NaN,NaN,12/31/2021,NaN,PJM,NaN,NaN,None,None,2020-11-17,AG2-048,withdrawn,2020,NaN,Other,AEC,NaN,2021-12-31,NaT,35.0,11/17/2020,NaN,22271.0,None,None,2020.0,2030-12-23
14264,14182,NaN,NaN,7/1/2021,NaN,PJM,NaN,NaN,Adams Y Solar II,None,2020-03-27,AF2-269,withdrawn,2020,NaN,Solar+Battery,ME,NaN,2021-07-01,NaT,31.0,3/27/2020,NaN,22032.0,None,None,2020.0,2030-04-28
14265,14212,NaN,NaN,12/31/2023,NaN,PJM,NaN,NaN,None,None,2020-03-31,AF2-340,withdrawn,2020,NaN,Solar,APS,NaN,2023-12-31,NaT,10.0,3/31/2020,NaN,22015.0,None,None,2020.0,2030-04-11
14266,14217,NaN,NaN,9/30/2022,NaN,PJM,NaN,NaN,New Castle-Clay Village 69 kV,None,2020-10-20,AG2-017,withdrawn,2020,NaN,Solar,EKPC,NaN,2022-09-30,NaT,48.0,10/20/2020,NaN,22256.0,None,None,2020.0,2030-12-08
14267,14240,NaN,NaN,12/15/2023,NaN,PJM,NaN,NaN,Keeney-Steele 230 kV,None,2020-03-31,AF2-360,withdrawn,2020,NaN,Solar,DPL,NaN,2023-12-15,NaT,31.0,3/31/2020,NaN,22036.0,None,None,2020.0,2030-05-02

In [16]:
normed['iso_projects'].sample(5)

,date_proposed_raw,developer,entity,interconnection_status_lbnl,interconnection_status_raw,point_of_interconnection,project_name,queue_date,queue_id,queue_status,queue_year,region,resource_type_lbnl,utility,year_proposed,date_proposed,date_operational,days_in_queue,queue_date_raw,year_operational,date_withdrawn_raw,interconnection_status,withdrawl_reason,year_withdrawn,date_withdrawn
project_id,,,,,,,,,,,,,,,,,,,,,,,,,
977,31dec2017,None,IP,IA Executed,GIA,None,None,2015-08-26,502,active,2015,West (non-ISO),Solar,Idaho Power,2017.0,2017-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
13138,6/1/2020,NaN,PJM,NaN,NaN,Hunterstown 500kV,None,2015-10-30,AB1-153,withdrawn,2015,NaN,Gas,ME,NaN,2020-06-01,NaT,193.0,10/30/2015,NaN,20584.0,None,Customer Initiated Withdrawal,2016.0,2026-05-11
3791,14dec2022,None,ISO-NE,In Progress,In Progress,"Eversource Killingly 345kV substation, Lat: 41...",Battery Storage,2018-12-21,831,active,2018,ISO-NE,Battery,None,2022.0,2022-12-14,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2286,31mar2023,None,PGE,In Progress,FEAS Complete,Evergreen Substation,None,2020-05-21,20-082*,active,2020,West (non-ISO),Battery,Portland General Electric,2023.0,2023-03-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4141,12/31/2023,None,PJM,In Progress,In Progress,Lucerne 115 kV,None,2019-09-30,AF1-272,active,2019,PJM,Solar,PENELEC,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [17]:
normed['iso_projects']['queue_status'].isna().mean()

0.0

In [18]:
normed['iso_projects']['date_proposed'].dt.year.le(1900).any()

False

In [19]:
normed['iso_projects'].columns

Index(['date_proposed_raw', 'developer', 'entity',
       'interconnection_status_lbnl', 'interconnection_status_raw',
       'point_of_interconnection', 'project_name', 'queue_date', 'queue_id',
       'queue_status', 'queue_year', 'region', 'resource_type_lbnl', 'utility',
       'year_proposed', 'date_proposed', 'date_operational', 'days_in_queue',
       'queue_date_raw', 'year_operational', 'date_withdrawn_raw',
       'interconnection_status', 'withdrawl_reason', 'year_withdrawn',
       'date_withdrawn'],
      dtype='object')

In [20]:
normed['iso_locations'].sample(5)

       project_id            county state
13960       14203         Edgecombe    NC
13199       13416            Fulton    PA
11523       11727          Somerset    PA
10314       10443  Jefferson County    WI
4729         4827           clinton    PA

In [21]:
normed['iso_locations']['project_id'].isna().mean()

0.0

In [22]:
normed['iso_resource_capacity'].sample(5)

       project_id resource  capacity_mw
4896         4220  Battery         80.0
438           375    Solar         38.0
1678         1449    Solar        203.0
7499         6577     Wood         83.6
13549       12479    Solar          8.0

In [23]:
from pudl.helpers import add_fips_ids

In [24]:
normed['iso_locations'].loc[normed['iso_locations'][['state', 'county']].isna().all(axis=1),:]

Empty DataFrame
Columns: [project_id, county, state]
Index: []

In [45]:
with_fips = add_fips_ids(normed['iso_locations'].fillna({'state': ''}))

In [46]:
with_fips

       project_id       county state state_id_fips county_id_fips
0               0  yellowstone    MT            30          30111
1               1  yellowstone    MT            30          30111
2               2  yellowstone    MT            30          30111
3               3    riverside    CA            06          06065
4               4     garfield    OK            40          40047
...           ...          ...   ...           ...            ...
13990       14235      Luzerne    PA            42          42079
13991       14236      Luzerne    PA            42          42079
13992       14237        Adams    PA            42          42001
13993       14238       Warren    NJ            34          34041
13994       14239      Spencer    IN            18          18147

[13995 rows x 5 columns]

In [47]:
with_fips.isna().mean()

project_id        0.000000
county            0.001286
state             0.000000
state_id_fips     0.001501
county_id_fips    0.036727
dtype: float64

In [48]:
with_fips[with_fips.isna().any(axis=1)]

       project_id                county state state_id_fips county_id_fips
43             45              winfield    KS            20           <NA>
52             54                 elida    NM            35           <NA>
69             71          northhampton    NC            37           <NA>
70             72              montrail    ND            38           <NA>
84             87             chatauqua    NY            36           <NA>
...           ...                   ...   ...           ...            ...
13627       13849       City of Hampton    VA            51           <NA>
13681       13906    City of Chesapeake    VA            51           <NA>
13682       13907    City of Chesapeake    VA            51           <NA>
13689       13914  City of Newport News    VA            51           <NA>
13756       13983       City of Suffolk    VA            51           <NA>

[514 rows x 5 columns]

In [49]:
with_fips[with_fips.isna().any(axis=1)].groupby(['state', 'county']).size().sort_values()

state  county
       Churchill              1
NJ     Linden                 1
       Various                1
NM     chavez                 1
       clovis                 1
                             ..
VA     city of chesapeake     9
NC     Northhampton          10
VA     Carolina              12
       City of Chesapeake    16
       Unknown               23
Length: 292, dtype: int64

In [50]:
nan_fips = with_fips.loc[with_fips['county_id_fips'].isna(),:].copy()

In [51]:
nan_fips.loc[:,'county'] = nan_fips.loc[:,'county'].str.replace('^City of (.+)', lambda x: x.group(1) + ' City', regex=True)

In [52]:
filled_nan_fips = add_fips_ids(nan_fips)
filled_nan_fips.notna().sum()

project_id        514
county            496
state             514
state_id_fips     493
county_id_fips     48
dtype: int64

In [53]:
filled_nan_fips[filled_nan_fips['county_id_fips'].notna()]

       project_id               county state state_id_fips county_id_fips
6540         6655      Chesapeake City    VA            51          51550
6575         6690      Chesapeake City    VA            51          51550
6605         6720      Chesapeake City    VA            51          51550
6607         6722      Portsmouth City    VA            51          51740
6840         6960       Covington City    VA            51          51580
6846         6966        Franklin City    VA            51          51620
6877         6997        Hopewell City    VA            51          51670
6902         7022        Hopewell City    VA            51          51670
6903         7023      Portsmouth City    VA            51          51740
6963         7083  Virginia Beach City    VA            51          51810
7130         7250  Virginia Beach City    VA            51          51810
7148         7269       Lynchburg City    VA            51          51680
11478       11682      Portsmouth City    VA            51          51740
11479       11683      Portsmouth City    VA            51          51740
11482       11686        Hopewell City    VA            51          51670
11681       11885         Suffolk City    VA            51          51800
11726       11930        Hopewell City    VA            51          51670
11851       12055    Martinsville City    VA            51          51690
12018       12222  Virginia Beach City    VA            51          51810
12143       12347        Hopewell City    VA            51          51670
12288       12492         Suffolk City    VA            51          51800
12629       12840         Suffolk City    VA            51          51800
12682       12894       Lynchburg City    VA            51          51680
12877       13092         Suffolk City    VA            51          51800
12941       13157      Chesapeake City    VA            51          51550
13181       13398      Chesapeake City    VA            51          51550
13213       13430      Chesapeake City    VA            51          51550
13255       13473      Chesapeake City    VA            51          51550
13265       13483      Chesapeake City    VA            51          51550
13268       13486         Suffolk City    VA            51          51800
13288       13506        Hopewell City    VA            51          51670
13302       13520      Chesapeake City    VA            51          51550
13450       13668      Chesapeake City    VA            51          51550
13458       13676      Chesapeake City    VA            51          51550
13474       13692  Virginia Beach City    VA            51          51810
13507       13725      Chesapeake City    VA            51          51550
13552       13772  Virginia Beach City    VA            51          51810
13553       13773  Virginia Beach City    VA            51          51810
13569       13789  Virginia Beach City    VA            51          51810
13579       13799      Portsmouth City    VA            51          51740
13605       13827      Chesapeake City    VA            51          51550
13609       13831      Portsmouth City    VA            51          51740
13610       13832      Chesapeake City    VA            51          51550
13627       13849         Hampton City    VA            51          51650
13681       13906      Chesapeake City    VA            51          51550
13682       13907      Chesapeake City    VA            51          51550
13689       13914    Newport News City    VA            51          51700
13756       13983         Suffolk City    VA            51          51800

A little over 3% will be NaN due to mis-spellings, cities instead of counties, and probably other reasons too. But what is distribution of NaNs?

In [54]:
with_fips.loc[:,'county_id_fips'].fillna(filled_nan_fips['county_id_fips'], inplace=True)

In [55]:
pd.testing.assert_frame_equal(with_fips, lbnl.add_fips_codes(normed['iso_locations']))

In [56]:
loc_fips = with_fips.merge(normed['iso_projects'], on='project_id', how='outer', validate='m:1')
with_fips.shape, loc_fips.shape

((13995, 5), (14268, 30))

In [57]:
loc_fips

,project_id,county,state,state_id_fips,county_id_fips,date_proposed_raw,developer,entity,interconnection_status_lbnl,interconnection_status_raw,point_of_interconnection,project_name,queue_date,queue_id,queue_status,queue_year,region,resource_type_lbnl,utility,year_proposed,date_proposed,date_operational,days_in_queue,queue_date_raw,year_operational,date_withdrawn_raw,interconnection_status,withdrawl_reason,year_withdrawn,date_withdrawn
0,0,yellowstone,MT,30,30111,12/31/2023,None,NWE,In Progress,Active,500kV at Broadview Substation,None,2020-08-13,390,active,2020,West (non-ISO),Battery,Colstrip,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,1,yellowstone,MT,30,30111,12/31/2023,None,PacifiCorp,In Progress,In Progress,Broadview substation,None,2020-07-17,C011,active,2020,West (non-ISO),Battery,Colstrip,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,2,yellowstone,MT,30,30111,12/31/2023,None,Avista,Not Started,New,Broadview Substation 500 kV,None,2020-07-12,107,active,2020,West (non-ISO),Battery,Colstrip,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,3,riverside,CA,06,06065,11/15/2024,None,CAISO,Not Started,None,Valley Substation 500kV,MENIFEE POWER BANK,2019-04-15,1645,active,2019,CAISO,Battery,None,2024.0,2024-11-15,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,4,garfield,OK,40,40047,12/31/2021,None,SPP,IA Executed,IA FULLY EXECUTED/ON SCHEDULE,Breckinridge 138kV,None,NaT,GEN-2015-062,active,2015,SPP,Wind,OKGE,2021.0,2021-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14263,14173,<NA>,<NA>,<NA>,<NA>,12/31/2021,NaN,PJM,NaN,NaN,None,None,2020-11-17,AG2-048,withdrawn,2020,NaN,Other,AEC,NaN,2021-12-31,NaT,35.0,11/17/2020,NaN,22271.0,None,None,2020.0,2030-12-23
14264,14182,<NA>,<NA>,<NA>,<NA>,7/1/2021,NaN,PJM,NaN,NaN,Adams Y Solar II,None,2020-03-27,AF2-269,withdrawn,2020,NaN,Solar+Battery,ME,NaN,2021-07-01,NaT,31.0,3/27/2020,NaN,22032.0,None,None,2020.0,2030-04-28
14265,14212,<NA>,<NA>,<NA>,<NA>,12/31/2023,NaN,PJM,NaN,NaN,None,None,2020-03-31,AF2-340,withdrawn,2020,NaN,Solar,APS,NaN,2023-12-31,NaT,10.0,3/31/2020,NaN,22015.0,None,None,2020.0,2030-04-11
14266,14217,<NA>,<NA>,<NA>,<NA>,9/30/2022,NaN,PJM,NaN,NaN,New Castle-Clay Village 69 kV,None,2020-10-20,AG2-017,withdrawn,2020,NaN,Solar,EKPC,NaN,2022-09-30,NaT,48.0,10/20/2020,NaN,22256.0,None,None,2020.0,2030-12-08
14267,14240,<NA>,<NA>,<NA>,<NA>,12/15/2023,NaN,PJM,NaN,NaN,Keeney-Steele 230 kV,None,2020-03-31,AF2-360,withdrawn,2020,NaN,Solar,DPL,NaN,2023-12-15,NaT,31.0,3/31/2020,NaN,22036.0,None,None,2020.0,2030-05-02

In [58]:
all_proj = loc_fips.merge(normed['iso_resource_capacity'], on='project_id', how='outer', validate="m:m")

In [59]:
all_proj['fips_is_nan'] = all_proj['county_id_fips'].isna()

In [60]:
all_proj.groupby('queue_status')['fips_is_nan'].mean()

queue_status
active       0.048103
completed    0.040374
withdrawn    0.052930
Name: fips_is_nan, dtype: float64

In [61]:
# offshore wind is often missing county - makes sense
# "other" also has high nan rate
# onshore wind is a bit high too
all_proj.groupby('resource_type_lbnl')['fips_is_nan'].agg(['mean','count']).sort_values('count', ascending=False)

                               mean  count
resource_type_lbnl
Solar                      0.046206   5865
Wind                       0.066472   2738
Gas                        0.043411   1935
Solar+Battery              0.018465   1733
Battery                    0.039289   1069
Other                      0.114776    758
Storage                    0.031884    345
Coal                       0.004566    219
Hydro                      0.035176    199
Nuclear                    0.000000    110
Offshore Wind              0.254902    102
Geothermal                 0.035714     56
Wind+Battery               0.037736     53
Solar+Wind                 0.052632     38
Gas+Solar                  0.000000     24
Solar+Wind+Battery         0.000000     21
Gas+Battery                0.000000     20
Other Storage              0.000000     11
Battery+Other              0.250000      8
Gas+Solar+Battery          0.000000      6
Pumped Storage+Wind+Solar  0.000000      3
Solar+Hydro                0.000000      2
Storage+Other              0.000000      2

In [62]:
all_proj.loc[all_proj['resource_type_lbnl'].eq("Other"),'resource'].value_counts(dropna=False)

NaN                                    208
Methane                                178
Biomass                                 71
Other                                   55
Diesel                                  42
Oil                                     40
WDS                                     30
M                                       24
Biofuel                                 21
Wood                                    16
DFO                                      8
Landfill Gas                             8
LFG                                      7
Waste Heat Recovery                      6
L                                        5
Hybrid                                   5
DFO KER NG                               4
Flywheel                                 3
Wo                                       3
CC-D                                     2
MSW                                      2
Diesel; Methane                          2
Waste Heat                               2
Natural Gas; Other; Storage; Solar       1
Methane; Solar                           1
Solar; Biomass                           1
Co-Gen                                   1
Steam                                    1
BLQ WDS                                  1
DFO KER                                  1
BLQ DFO KER WDS                          1
KER NG                                   1
D                                        1
JF KER NG                                1
JF                                       1
KER                                      1
Heat Recovery                            1
CT-D                                     1
Natural Gas; Diesel; Other; Storage      1
Name: resource, dtype: int64