# Clean county names and a second pass at deduplication

In [1]:
import pandas as pd
import dbcp
import copy

/app/.local/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.0-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

## Annoying Setup
Now include normalization and add fips - kept separate for first round of deduplication

In [13]:
# copied out of etl.py:etl_lbnlisoqueues
import logging
from pathlib import Path
from typing import Dict

import pandas as pd
import pandas_gbq
import pydata_google_auth
import sqlalchemy as sa

import dbcp
from dbcp.constants import WORKING_PARTITIONS
from dbcp.schemas import TABLE_SCHEMAS
from dbcp.workspace.datastore import DBCPDatastore
from pudl.output.pudltabl import PudlTabl

logger = logging.getLogger(__name__)

#Extract
ds = DBCPDatastore(sandbox=True, local_cache_path="/app/data/data_cache")
lbnl_raw_dfs = dbcp.extract.lbnlisoqueues.Extractor(ds).extract(
    update_date=WORKING_PARTITIONS["lbnlisoqueues"]["update_date"])

In [14]:
# copied out of dbcp.transform.lbnlisoqueues.py:transform
# added "dbcp.transform.lbnlisoqueues." prefix as needed to internal funcs
import logging
from typing import Any, Dict, List

import pandas as pd

from dbcp.schemas import TABLE_SCHEMAS
from dbcp.transform.helpers import normalize_multicolumns_to_rows, parse_dates
from pudl.helpers import add_fips_ids as _add_fips_ids

lbnl_transformed_dfs = {name: df.copy()
                        for name, df in lbnl_raw_dfs.items()}
dbcp.transform.lbnlisoqueues._set_global_project_ids(lbnl_transformed_dfs)

lbnl_transform_functions = {
    "active_iso_queue_projects": dbcp.transform.lbnlisoqueues.active_iso_queue_projects,
    "completed_iso_queue_projects": dbcp.transform.lbnlisoqueues.completed_iso_queue_projects,
    "withdrawn_iso_queue_projects": dbcp.transform.lbnlisoqueues.withdrawn_iso_queue_projects,
}

for table_name, transform_func in lbnl_transform_functions.items():
    logger.info(f"LBNL ISO Queues: Transforming {table_name} table.")
    lbnl_transformed_dfs[table_name] = transform_func(
        lbnl_transformed_dfs[table_name])

# pick up after normalization
lbnl_normalized_dfs = dbcp.transform.lbnlisoqueues.normalize_lbnl_dfs(lbnl_transformed_dfs)

In [4]:
lbnl_normalized_dfs.keys()

dict_keys(['iso_projects', 'iso_locations', 'iso_resource_capacity'])

In [6]:
lbnl_normalized_dfs['iso_projects'].head(3)

,region,date_proposed_raw,developer,entity,interconnection_status_lbnl,interconnection_status_raw,point_of_interconnection,project_name,queue_date,queue_id,...,year_proposed,date_proposed,date_operational,days_in_queue,queue_date_raw,year_operational,date_withdrawn_raw,withdrawl_reason,year_withdrawn,date_withdrawn
project_id,,,,,,,,,,,,,,,,,,,,,
0,West (non-ISO),12/31/2023,NaN,NWE,In Progress,Active,500kV at Broadview Substation,NaN,2020-08-13,390,...,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,West (non-ISO),12/31/2023,NaN,PacifiCorp,In Progress,In Progress,Broadview substation,NaN,2020-07-17,C011,...,2023.0,2023-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,CAISO,11/15/2024,NaN,CAISO,Not Started,NaN,Valley Substation 500kV,MENIFEE POWER BANK,2019-04-15,1645,...,2024.0,2024-11-15,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [8]:
lbnl_normalized_dfs['iso_projects'].columns

Index(['region', 'date_proposed_raw', 'developer', 'entity',
       'interconnection_status_lbnl', 'interconnection_status_raw',
       'point_of_interconnection', 'project_name', 'queue_date', 'queue_id',
       'queue_status', 'queue_year', 'resource_type_lbnl', 'utility',
       'year_proposed', 'date_proposed', 'date_operational', 'days_in_queue',
       'queue_date_raw', 'year_operational', 'date_withdrawn_raw',
       'withdrawl_reason', 'year_withdrawn', 'date_withdrawn'],
      dtype='object')

In [7]:
lbnl_normalized_dfs['iso_locations'].head(3)

   project_id       county state
0           0  yellowstone    MT
1           1  yellowstone    MT
2           3    riverside    CA

In [10]:
lbnl_normalized_dfs['iso_resource_capacity'].head(3)

   project_id resource  capacity_mw
0           0  Battery        500.0
1           1  Battery        500.0
2           3  Battery        725.0

Some project id's got dropped?
Check normalization to see why some projects get dropped

In [23]:
import numpy as np
pi = lbnl_normalized_dfs['iso_resource_capacity']['project_id'].sort_values().to_list()
full = np.arange(0, 14241)
diff = set(full) - set(pi)

### Use add county fips with backup geocoding

In [4]:
locs = lbnl_normalized_dfs['iso_locations']

In [44]:
locs[locs.county.isnull()]

       project_id county state
5947         6451    NaN    DC
6475         7026    NaN    DC
7923         8555    NaN    CA
8091         8728    NaN    MA
8189         8830    NaN    ME
8191         8832    NaN    ME
8201         8842    NaN    NH
8207         8848    NaN    ME
8210         8851    NaN    RI
8219         8860    NaN    RI
8361         9004    NaN    MA
8723         9395    NaN    MI
9424        10113    NaN    SD
9912        10619    NaN    IN
9914        10621    NaN    MS
9919        10626    NaN    MN
9928        10635    NaN    IN
11609       12460    NaN    DC

In [5]:
lbnl_normalized_dfs['iso_locations'] = dbcp.transform.helpers.add_county_fips_with_backup_geocoding(
        lbnl_normalized_dfs['iso_locations'])

In [6]:
lbnl_normalized_dfs['iso_locations']

,project_id,county,state,state_id_fips,county_id_fips,locality_name,locality_type,containing_county
0,0,yellowstone,MT,30,30111,yellowstone,county,yellowstone
1,1,yellowstone,MT,30,30111,yellowstone,county,yellowstone
2,3,riverside,CA,06,06065,riverside,county,riverside
3,4,garfield,OK,40,40047,garfield,county,garfield
4,5,woodward,OK,40,40153,woodward,county,woodward
...,...,...,...,...,...,...,...,...
12865,13797,City of Portsmouth,VA,51,<NA>,Portsmouth,city,City of Portsmouth
12892,13830,City of Portsmouth,VA,51,<NA>,Portsmouth,city,City of Portsmouth
12907,13848,City of Hampton,VA,51,<NA>,Hampton,city,City of Hampton
12963,13914,City of Newport News,VA,51,<NA>,Newport News,city,City of Newport News
13030,13983,City of Suffolk,VA,51,<NA>,Suffolk,city,City of Suffolk

In [7]:
locs = lbnl_normalized_dfs['iso_locations']

There are still 125 unmatched county fips (previously there were 436)
For now, these are dropped

In [20]:
len(locs[locs.county_id_fips.isnull()])

125

In [21]:
locs

,project_id,county,state,state_id_fips,county_id_fips,locality_name,locality_type,containing_county
0,0,yellowstone,MT,30,30111,yellowstone,county,yellowstone
1,1,yellowstone,MT,30,30111,yellowstone,county,yellowstone
2,3,riverside,CA,06,06065,riverside,county,riverside
3,4,garfield,OK,40,40047,garfield,county,garfield
4,5,woodward,OK,40,40153,woodward,county,woodward
...,...,...,...,...,...,...,...,...
12865,13797,City of Portsmouth,VA,51,<NA>,Portsmouth,city,City of Portsmouth
12892,13830,City of Portsmouth,VA,51,<NA>,Portsmouth,city,City of Portsmouth
12907,13848,City of Hampton,VA,51,<NA>,Hampton,city,City of Hampton
12963,13914,City of Newport News,VA,51,<NA>,Newport News,city,City of Newport News
13030,13983,City of Suffolk,VA,51,<NA>,Suffolk,city,City of Suffolk

In [42]:
# should have columns project_id, county, state, state_id_fips, county_id_fips
locs_clean = locs[locs.county_id_fips.notnull()]
locs_clean = locs_clean.drop(['locality_name', 'locality_type', 'county'], axis=1)
locs_clean = locs_clean.rename(columns={'containing_county': 'county'})
locs_clean['county'] = locs_clean['county'].str.lower()
locs_clean = locs_clean[['project_id', 'county', 'state', 'state_id_fips', 'county_id_fips']]

In [43]:
locs_clean

       project_id              county state state_id_fips county_id_fips
0               0         yellowstone    MT            30          30111
1               1         yellowstone    MT            30          30111
2               3           riverside    CA            06          06065
3               4            garfield    OK            40          40047
4               5            woodward    OK            40          40153
...           ...                 ...   ...           ...            ...
12693       13602  northampton county    NC            37          37131
12717       13632     caroline county    VA            51          51033
12724       13641    jefferson county    KY            21          21111
12738       13656     caroline county    VA            51          51033
12755       13676  northampton county    NC            37          37131

[13134 rows x 5 columns]

In [45]:
lbnl_normalized_dfs['iso_locations'] = locs_clean
denorm = dbcp.transform.lbnlisoqueues.denormalize(lbnl_normalized_dfs)

In [46]:
denorm

,project_id,county,state,state_id_fips,county_id_fips,region,date_proposed_raw,developer,entity,interconnection_status_lbnl,...,date_operational,days_in_queue,queue_date_raw,year_operational,date_withdrawn_raw,withdrawl_reason,year_withdrawn,date_withdrawn,resource,capacity_mw
0,0,yellowstone,MT,30,30111,West (non-ISO),12/31/2023,NaN,NWE,In Progress,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,500.00
1,1,yellowstone,MT,30,30111,West (non-ISO),12/31/2023,NaN,PacifiCorp,In Progress,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,500.00
2,3,riverside,CA,06,06065,CAISO,11/15/2024,NaN,CAISO,Not Started,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,725.00
3,4,garfield,OK,40,40047,SPP,12/31/2021,NaN,SPP,IA Executed,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Wind,4.50
4,5,woodward,OK,40,40153,SPP,NaN,NaN,SPP,In Progress,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,80.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14501,14172,<NA>,<NA>,<NA>,<NA>,NaN,12/31/2021,NaN,PJM,NaN,...,NaT,35.0,11/17/2020,NaN,22271.0,NaN,2020.0,2030-12-23,NaN,NaN
14502,14181,<NA>,<NA>,<NA>,<NA>,NaN,7/1/2021,NaN,PJM,NaN,...,NaT,31.0,3/27/2020,NaN,22032.0,NaN,2020.0,2030-04-28,Solar; Storage,3.72
14503,14211,<NA>,<NA>,<NA>,<NA>,NaN,12/31/2023,NaN,PJM,NaN,...,NaT,10.0,3/31/2020,NaN,22015.0,NaN,2020.0,2030-04-11,Solar,20.00
14504,14216,<NA>,<NA>,<NA>,<NA>,NaN,9/30/2022,NaN,PJM,NaN,...,NaT,48.0,10/20/2020,NaN,22256.0,NaN,2020.0,2030-12-08,Solar,80.00
14505,14240,<NA>,<NA>,<NA>,<NA>,NaN,12/15/2023,NaN,PJM,NaN,...,NaT,31.0,3/31/2020,NaN,22036.0,NaN,2020.0,2030-05-02,Solar,125.00

In [23]:
old_locs = lbnl_normalized_dfs['iso_locations']

In [24]:
old_locs

       project_id       county state
0               0  yellowstone    MT
1               1  yellowstone    MT
2               3    riverside    CA
3               4     garfield    OK
4               5     woodward    OK
...           ...          ...   ...
13254       14233     Crawford    PA
13255       14235      Luzerne    PA
13256       14236        Adams    PA
13257       14237       Warren    NJ
13258       14239      Montour    PA

[13259 rows x 3 columns]

In [25]:
lbnl_normalized_dfs['iso_locations'] = dbcp.transform.lbnlisoqueues.add_fips_codes(old_locs)

In [28]:
old_locs_denorm = dbcp.transform.lbnlisoqueues.denormalize(lbnl_normalized_dfs)

In [32]:
old_locs_denorm

,project_id,county,state,state_id_fips,county_id_fips,region,date_proposed_raw,developer,entity,interconnection_status_lbnl,...,date_operational,days_in_queue,queue_date_raw,year_operational,date_withdrawn_raw,withdrawl_reason,year_withdrawn,date_withdrawn,resource,capacity_mw
0,0,yellowstone,MT,30,30111,West (non-ISO),12/31/2023,NaN,NWE,In Progress,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,500.00
1,1,yellowstone,MT,30,30111,West (non-ISO),12/31/2023,NaN,PacifiCorp,In Progress,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,500.00
2,3,riverside,CA,06,06065,CAISO,11/15/2024,NaN,CAISO,Not Started,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,725.00
3,4,garfield,OK,40,40047,SPP,12/31/2021,NaN,SPP,IA Executed,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Wind,4.50
4,5,woodward,OK,40,40153,SPP,NaN,NaN,SPP,In Progress,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,80.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14501,14172,<NA>,<NA>,<NA>,<NA>,NaN,12/31/2021,NaN,PJM,NaN,...,NaT,35.0,11/17/2020,NaN,22271.0,NaN,2020.0,2030-12-23,NaN,NaN
14502,14181,<NA>,<NA>,<NA>,<NA>,NaN,7/1/2021,NaN,PJM,NaN,...,NaT,31.0,3/27/2020,NaN,22032.0,NaN,2020.0,2030-04-28,Solar; Storage,3.72
14503,14211,<NA>,<NA>,<NA>,<NA>,NaN,12/31/2023,NaN,PJM,NaN,...,NaT,10.0,3/31/2020,NaN,22015.0,NaN,2020.0,2030-04-11,Solar,20.00
14504,14216,<NA>,<NA>,<NA>,<NA>,NaN,9/30/2022,NaN,PJM,NaN,...,NaT,48.0,10/20/2020,NaN,22256.0,NaN,2020.0,2030-12-08,Solar,80.00
14505,14240,<NA>,<NA>,<NA>,<NA>,NaN,12/15/2023,NaN,PJM,NaN,...,NaT,31.0,3/31/2020,NaN,22036.0,NaN,2020.0,2030-05-02,Solar,125.00

In [47]:
denorm

,project_id,county,state,state_id_fips,county_id_fips,region,date_proposed_raw,developer,entity,interconnection_status_lbnl,...,date_operational,days_in_queue,queue_date_raw,year_operational,date_withdrawn_raw,withdrawl_reason,year_withdrawn,date_withdrawn,resource,capacity_mw
0,0,yellowstone,MT,30,30111,West (non-ISO),12/31/2023,NaN,NWE,In Progress,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,500.00
1,1,yellowstone,MT,30,30111,West (non-ISO),12/31/2023,NaN,PacifiCorp,In Progress,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,500.00
2,3,riverside,CA,06,06065,CAISO,11/15/2024,NaN,CAISO,Not Started,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,725.00
3,4,garfield,OK,40,40047,SPP,12/31/2021,NaN,SPP,IA Executed,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Wind,4.50
4,5,woodward,OK,40,40153,SPP,NaN,NaN,SPP,In Progress,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Battery,80.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14501,14172,<NA>,<NA>,<NA>,<NA>,NaN,12/31/2021,NaN,PJM,NaN,...,NaT,35.0,11/17/2020,NaN,22271.0,NaN,2020.0,2030-12-23,NaN,NaN
14502,14181,<NA>,<NA>,<NA>,<NA>,NaN,7/1/2021,NaN,PJM,NaN,...,NaT,31.0,3/27/2020,NaN,22032.0,NaN,2020.0,2030-04-28,Solar; Storage,3.72
14503,14211,<NA>,<NA>,<NA>,<NA>,NaN,12/31/2023,NaN,PJM,NaN,...,NaT,10.0,3/31/2020,NaN,22015.0,NaN,2020.0,2030-04-11,Solar,20.00
14504,14216,<NA>,<NA>,<NA>,<NA>,NaN,9/30/2022,NaN,PJM,NaN,...,NaT,48.0,10/20/2020,NaN,22256.0,NaN,2020.0,2030-12-08,Solar,80.00
14505,14240,<NA>,<NA>,<NA>,<NA>,NaN,12/15/2023,NaN,PJM,NaN,...,NaT,31.0,3/31/2020,NaN,22036.0,NaN,2020.0,2030-05-02,Solar,125.00

In [48]:
old_locs_denorm.columns == denorm.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [33]:
lbnl_normalized_dfs['iso_locations']

       project_id       county state state_id_fips county_id_fips
0               0  yellowstone    MT            30          30111
1               1  yellowstone    MT            30          30111
2               3    riverside    CA            06          06065
3               4     garfield    OK            40          40047
4               5     woodward    OK            40          40153
...           ...          ...   ...           ...            ...
13254       14233     Crawford    PA            42          42039
13255       14235      Luzerne    PA            42          42079
13256       14236        Adams    PA            42          42001
13257       14237       Warren    NJ            34          34041
13258       14239      Montour    PA            42          42093

[13259 rows x 5 columns]