# Test Transform

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import dbcp
from dbcp.workspace.datastore import DBCPDatastore
from dbcp.constants import WORKING_PARTITIONS

/app/.local/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.0-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [3]:
ds = DBCPDatastore(sandbox=True, local_cache_path="input")

lbnl_raw_dfs = dbcp.extract.lbnlisoqueues.Extractor(ds).extract(
    update_date=WORKING_PARTITIONS["lbnlisoqueues"]["update_date"])

/app/.local/lib/python3.8/site-packages/pudl/extract/excel.py:232: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(newdata, sort=True, ignore_index=True)
/app/.local/lib/python3.8/site-packages/pudl/extract/excel.py:232: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(newdata, sort=True, ignore_index=True)
/app/.local/lib/python3.8/site-packages/pudl/extract/excel.py:232: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(newdata, sort=True, ignore_index=True)

In [4]:
lbnl_raw_dfs.keys()

dict_keys(['active_iso_queue_projects', 'completed_iso_queue_projects', 'withdrawn_iso_queue_projects'])

In [5]:
transformed_dfs = dbcp.transform.lbnlisoqueues.transform(lbnl_raw_dfs)

In [6]:
transformed_dfs.keys()

dict_keys(['iso_projects', 'iso_locations', 'iso_resource_capacity', 'iso_for_tableau'])

In [7]:
transformed_dfs['iso_locations']

       project_id       county state state_id_fips county_id_fips
0               0  yellowstone    MT            30          30111
1               1  yellowstone    MT            30          30111
2               2  yellowstone    MT            30          30111
3               3    riverside    CA            06          06065
4               4     garfield    OK            40          40047
...           ...          ...   ...           ...            ...
13990       14235      Luzerne    PA            42          42079
13991       14236        Adams    PA            42          42001
13992       14237       Warren    NJ            34          34041
13993       14238      Spencer    IN            18          18147
13994       14239      Montour    PA            42          42093

[13995 rows x 5 columns]