# ACP / EIA Combined table

In [2]:
import pandas as pd

In [6]:
from google.cloud import bigquery

def get_bigquery_table_version(dataset_id, table_name, project_id="dbcp-dev-350818"):
    """
    Get the data version of a BigQuery table.

    The dbcp.commands.publish script generates a version number for each data release
    and adds it as a label to the BQ tables.

    Args:
        dataset_id: the BQ dataset ID
        table_name: the name of the table
        project_id: the GCP project id

    Return:
        the current DBCP version number of the requested table
    """
    client = bigquery.Client()

    table_ref = f"{project_id}.{dataset_id}.{table_name}"
    table = client.get_table(table_ref)  # Fetch table metadata

    labels = table.labels  # Get the labels dictionary
    return labels["version"]

## Get old data from published archives

In [13]:
from dbcp.extract.helpers import cache_gcs_archive_file_locally

table_name = "county_concrete_mw"
version = get_bigquery_table_version("data_mart_dev", table_name)
uri = f"gs://dgm-outputs/{version}/data_mart/{table_name}.parquet"
data_cache = "/app/data/gcp_outputs"

county_concrete_mw_path = cache_gcs_archive_file_locally(uri, data_cache)
county_concrete_mw_old = pd.read_parquet(county_concrete_mw_path)

In [14]:
county_concrete_mw_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   state_id_fips                    455 non-null    string
 1   county_id_fips                   455 non-null    string
 2   state                            455 non-null    string
 3   county                           455 non-null    string
 4   iso_region                       455 non-null    string
 5   resource_clean                   455 non-null    string
 6   capacity_under_construction_mw   295 non-null    float64
 7   capacity_awaiting_permitting_mw  202 non-null    float64
 8   capacity_total_proposed_mw       455 non-null    float64
dtypes: float64(3), string(6)
memory usage: 32.1 KB

## Get new data from local parquet

In [22]:
county_concrete_mw_new = pd.read_parquet(
    "../../../data/output/data_mart/county_concrete_mw.parquet")
county_concrete_mw_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   state_id_fips                    463 non-null    string
 1   county_id_fips                   463 non-null    string
 2   state                            463 non-null    string
 3   county                           463 non-null    string
 4   iso_region                       463 non-null    string
 5   resource_clean                   463 non-null    string
 6   capacity_under_construction_mw   280 non-null    float64
 7   capacity_awaiting_permitting_mw  228 non-null    float64
 8   capacity_total_proposed_mw       463 non-null    float64
dtypes: float64(3), string(6)
memory usage: 32.7 KB

## Sanity check: are old and new tables different

In [24]:
capacity_by_iso_region_new.equals(capacity_by_iso_region_old)

False

In [26]:
# pd.testing.assert_frame_equal(
#     capacity_by_iso_region_new,
#     capacity_by_iso_region_old
# )

## Simplify ISO region

In [33]:
GS_REGIONS = ("MISO", "NYISO", "ISONE", "PJM", "ERCOT", "SPP", "CAISO")

In [35]:
county_concrete_mw_new["iso_region_clean"] = county_concrete_mw_new["iso_region"].mask(
    ~county_concrete_mw_new["iso_region"].isin(GS_REGIONS), other="NON-ISO")

county_concrete_mw_old["iso_region_clean"] = county_concrete_mw_old["iso_region"].mask(
    ~county_concrete_mw_old["iso_region"].isin(GS_REGIONS), other="NON-ISO")

## % change in capacity by ISO region

In [36]:
capacity_by_iso_region_new = county_concrete_mw_new.groupby("iso_region_clean").sum()[
['capacity_under_construction_mw', 'capacity_awaiting_permitting_mw', 'capacity_total_proposed_mw']]

capacity_by_iso_region_old = county_concrete_mw_old.groupby("iso_region_clean").sum()[
['capacity_under_construction_mw', 'capacity_awaiting_permitting_mw', 'capacity_total_proposed_mw']]

In [37]:
capacity_by_iso_region_pct_change = (capacity_by_iso_region_new - capacity_by_iso_region_old) / capacity_by_iso_region_old

In [40]:
capacity_by_iso_region_pct_change.sort_values(by="capacity_total_proposed_mw")

,capacity_under_construction_mw,capacity_awaiting_permitting_mw,capacity_total_proposed_mw
iso_region_clean,,,
MISO,-0.403034,-0.128560,-0.290079
PJM,-0.267633,-0.130375,-0.187237
SPP,0.128253,-0.171739,-0.036461
ISONE,-0.574351,1.355116,-0.034970
CAISO,-0.164055,0.567367,0.083519
NYISO,0.982113,0.023332,0.237549
ERCOT,0.201572,1.508437,0.560390
NON-ISO,0.065555,1.547812,0.637978

## Drill down into individual projects

In order to understand these numbers better, look at individual projects in the old and new data

In [42]:
# Note that this requires comparing old and new results of the query `eia860m_current.sql`
# Until this has been added as an intermediate table, it can be saved as a parquet manually and compared

eia_old = pd.read_parquet("eia860m_current_old.parquet")
eia_new = pd.read_parquet("eia860m_current_new.parquet")

In [159]:
eia_new.head()

,report_date,plant_id_eia,plant_name_eia,utility_id_eia,utility_name_eia,generator_id,capacity_mw,state_id_fips,county_id_fips,state,...,planned_derate_date,planned_generator_retirement_date,planned_net_summer_capacity_derate_mw,planned_net_summer_capacity_uprate_mw,planned_uprate_date,technology_description,raw_state,raw_county,iso_region_clean,unique_id
0,2024-12-01,229,Cow Creek,14328,Pacific Gas & Electric Co.,1,0.7,06,06089,California,...,NaT,NaT,NaN,NaN,NaT,Conventional Hydroelectric,CA,Shasta,CAISO,229_1
1,2024-12-01,229,Cow Creek,14328,Pacific Gas & Electric Co.,2,0.7,06,06089,California,...,NaT,NaT,NaN,NaN,NaT,Conventional Hydroelectric,CA,Shasta,CAISO,229_2
2,2024-12-01,253,Kilarc,14328,Pacific Gas & Electric Co.,1,1.5,06,06089,California,...,NaT,NaT,NaN,NaN,NaT,Conventional Hydroelectric,CA,Shasta,CAISO,253_1
3,2024-12-01,594,Indian River Generating Station,9332,Indian River Operations Inc,4,445.5,10,10005,Delaware,...,NaT,2025-02-01,NaN,NaN,NaT,Conventional Steam Coal,DE,Sussex,PJM,594_4
4,2024-12-01,645,Big Bend,18454,Tampa Electric Co,ST4,486.0,12,12057,Florida,...,NaT,NaT,37.0,NaN,NaT,Conventional Steam Coal,FL,Hillsborough,NON-ISO,645_ST4

In [47]:
eia_old['iso_region_clean'] = eia_old['iso_region'].mask(~eia_old["iso_region"].isin(GS_REGIONS), other="NON-ISO")
eia_new['iso_region_clean'] = eia_new['iso_region'].mask(~eia_new["iso_region"].isin(GS_REGIONS), other="NON-ISO")

In [50]:
eia_new.columns

Index(['report_date', 'plant_id_eia', 'plant_name_eia', 'utility_id_eia',
       'utility_name_eia', 'generator_id', 'capacity_mw', 'state_id_fips',
       'county_id_fips', 'state', 'county', 'iso_region',
       'current_planned_generator_operating_date', 'energy_source_code_1',
       'prime_mover_code', 'energy_storage_capacity_mwh',
       'fuel_type_code_pudl', 'generator_retirement_date', 'latitude',
       'longitude', 'operational_status_code', 'operational_status_category',
       'raw_operational_status_code', 'planned_derate_date',
       'planned_generator_retirement_date',
       'planned_net_summer_capacity_derate_mw',
       'planned_net_summer_capacity_uprate_mw', 'planned_uprate_date',
       'technology_description', 'raw_state', 'raw_county',
       'iso_region_clean'],
      dtype='object')

In [95]:
eia_new.groupby(
    ["operational_status_code", "raw_operational_status_code", "operational_status_category"]
).plant_id_eia.count()

operational_status_code  raw_operational_status_code  operational_status_category
1                        P                            proposed                        75
2                        L                            proposed                        49
3                        T                            proposed                        31
4                        U                            proposed                       120
5                        V                            proposed                       133
6                        TS                           proposed                        81
7                        OA                           existing                        16
                         OP                           existing                       600
                         OS                           existing                         6
                         SB                           existing                         3
8                        RE                           retired                         99
Name: plant_id_eia, dtype: int64

In [79]:
# Combination of plant ID and generator ID is unique
eia_new.groupby(["plant_id_eia", "generator_id"]).count()["plant_name_eia"].max()

1

In [153]:
eia_plant_region_status_capacity_new = eia_new.groupby(
    ['plant_id_eia', 'iso_region_clean', 'operational_status_category'], dropna=False
).agg({"capacity_mw": sum, "plant_id_eia": 'nunique'}).rename(columns={"plant_id_eia": "plant_count"}).unstack()
eia_plant_region_status_capacity_old = eia_old.groupby(
    ['plant_id_eia', 'iso_region_clean', 'operational_status_category'], dropna=False
).agg({"capacity_mw": sum, "plant_id_eia": 'nunique'}).rename(columns={"plant_id_eia": "plant_count"}).unstack()

In [156]:
eia_plant_region_status_capacity_combined = eia_plant_region_status_capacity_old.join(
    eia_plant_region_status_capacity_new, 
    how="outer",
    lsuffix="_old",
    rsuffix="_new",
)

In [157]:
eia_plant_region_status_capacity_combined

                              capacity_mw_old                   \
operational_status_category          existing proposed retired
plant_id_eia iso_region_clean
229          CAISO                        NaN      NaN     NaN
253          CAISO                        NaN      NaN     NaN
594          PJM                          NaN      NaN     NaN
645          NON-ISO                      NaN      NaN     NaN
676          NON-ISO                      NaN      NaN     NaN
...                                       ...      ...     ...
68487        NON-ISO                      NaN      NaN     NaN
68488        NON-ISO                      NaN      NaN     NaN
68490        ISONE                        NaN      NaN     NaN
68491        ISONE                        NaN      NaN     NaN
68493        ISONE                        NaN      NaN     NaN

                              plant_count_old                   \
operational_status_category          existing proposed retired
plant_id_eia iso_region_clean
229          CAISO                        NaN      NaN     NaN
253          CAISO                        NaN      NaN     NaN
594          PJM                          NaN      NaN     NaN
645          NON-ISO                      NaN      NaN     NaN
676          NON-ISO                      NaN      NaN     NaN
...                                       ...      ...     ...
68487        NON-ISO                      NaN      NaN     NaN
68488        NON-ISO                      NaN      NaN     NaN
68490        ISONE                        NaN      NaN     NaN
68491        ISONE                        NaN      NaN     NaN
68493        ISONE                        NaN      NaN     NaN

                              capacity_mw_new                   \
operational_status_category          existing proposed retired
plant_id_eia iso_region_clean
229          CAISO                        NaN      NaN     1.4
253          CAISO                        NaN      NaN     1.5
594          PJM                        445.5      NaN     NaN
645          NON-ISO                    486.0      NaN     NaN
676          NON-ISO                     60.0      NaN     NaN
...                                       ...      ...     ...
68487        NON-ISO                      NaN    125.0     NaN
68488        NON-ISO                      NaN     80.0     NaN
68490        ISONE                        NaN    200.0     NaN
68491        ISONE                        NaN    250.0     NaN
68493        ISONE                       20.4      NaN     NaN

                              plant_count_new
operational_status_category          existing proposed retired
plant_id_eia iso_region_clean
229          CAISO                        NaN      NaN     1.0
253          CAISO                        NaN      NaN     1.0
594          PJM                          1.0      NaN     NaN
645          NON-ISO                      1.0      NaN     NaN
676          NON-ISO                      1.0      NaN     NaN
...                                       ...      ...     ...
68487        NON-ISO                      NaN      1.0     NaN
68488        NON-ISO                      NaN      1.0     NaN
68490        ISONE                        NaN      1.0     NaN
68491        ISONE                        NaN      1.0     NaN
68493        ISONE                        1.0      NaN     NaN

[1208 rows x 12 columns]

In [146]:
eia_plant_region_status_capacity_combined.groupby(["iso_region_clean", "operational_status_category"]).sum().assign(
    plant_count_pct_change=lambda df: (df.plant_count_new - df.plant_count_old) / df.plant_count_old,
    capacity_mw_pct_change=lambda df: (df.capacity_mw_new - df.capacity_mw_old) / df.capacity_mw_old,
)

                                              capacity_mw_old  \
iso_region_clean operational_status_category
CAISO            existing                          956.500000
                 proposed                         2388.400002
                 retired                             0.000000
ERCOT            existing                         5840.900045
                 proposed                         8317.899995
                 retired                           399.699997
ISONE            existing                          180.700000
                 proposed                          925.800000
MISO             existing                         1126.700004
                 proposed                         6303.399992
                 retired                             0.000000
NON-ISO          existing                         6129.300010
                 proposed                         8761.500015
                 retired                           272.000000
NYISO            existing                           49.100000
                 proposed                          325.900000
                 retired                             1.800000
PJM              existing                          513.800001
                 proposed                         5302.399998
                 retired                            37.900000

                                              plant_count_old  \
iso_region_clean operational_status_category
CAISO            existing                                33.0
                 proposed                                32.0
                 retired                                  0.0
ERCOT            existing                                15.0
                 proposed                                49.0
                 retired                                  2.0
ISONE            existing                                34.0
                 proposed                                21.0
MISO             existing                                20.0
                 proposed                                55.0
                 retired                                  0.0
NON-ISO          existing                                44.0
                 proposed                                91.0
                 retired                                  1.0
NYISO            existing                                16.0
                 proposed                                20.0
                 retired                                  1.0
PJM              existing                                29.0
                 proposed                                55.0
                 retired                                  2.0

                                              capacity_mw_new  \
iso_region_clean operational_status_category
CAISO            existing                         3925.500012
                 proposed                         5949.900004
                 retired                             9.600000
ERCOT            existing                         4074.900002
                 proposed                        19191.499981
                 retired                            19.400000
ISONE            existing                          216.599999
                 proposed                          973.199999
MISO             existing                        18904.099933
                 proposed                         5205.100012
                 retired                          1582.699999
NON-ISO          existing                         9799.300017
                 proposed                        14124.699980
                 retired                           586.099998
NYISO            existing                          724.699999
                 proposed                         1472.500001
                 retired                             0.400000
PJM              existing                         6623.700007
                 proposed                         3580.399997
                 retired                          2115.300000

                                              plant_count_new  \
iso_region_clean operational_status_category
CAISO            existing                                26.0
                 proposed                                59.0
                 retired                                  3.0
ERCOT            existing                                17.0
                 proposed                                89.0
                 retired                                  2.0
ISONE            existing                                50.0
                 proposed                                22.0
MISO             existing                                84.0
                 proposed                                61.0
                 retired                                  9.0
NON-ISO          existing                               135.0
                 proposed                                98.0
                 retired                                  5.0
NYISO            existing                                53.0
                 proposed                                38.0
                 retired                                  1.0
PJM              existing                                58.0
                 proposed                                54.0
                 retired                                  9.0

                                              plant_count_pct_change  \
iso_region_clean operational_status_category
CAISO            existing                                  -0.212121
                 proposed                                   0.843750
                 retired                                         inf
ERCOT            existing                                   0.133333
                 proposed                                   0.816327
                 retired                                    0.000000
ISONE            existing                                   0.470588
                 proposed                                   0.047619
MISO             existing                                   3.200000
                 proposed                                   0.109091
                 retired                                         inf
NON-ISO          existing                                   2.068182
                 proposed                                   0.076923
                 retired                                    4.000000
NYISO            existing                                   2.312500
                 proposed                                   0.900000
                 retired                                    0.000000
PJM              existing                                   1.000000
                 proposed                                  -0.018182
                 retired                                    3.500000

                                              capacity_mw_pct_change
iso_region_clean operational_status_category
CAISO            existing                                   3.104025
                 proposed                                   1.491166
                 retired                                         inf
ERCOT            existing                                  -0.302351
                 proposed                                   1.307253
                 retired                                   -0.951464
ISONE            existing                                   0.198672
                 proposed                                   0.051199
MISO             existing                                  15.778290
                 proposed                                  -0.174239
                 retired                                         inf
NON-ISO          existing                                   0.598763
                 proposed                                   0.612133
                 retired                                    1.154779
NYISO            existing                                  13.759674
                 proposed                                   3.518257
                 retired                                   -0.777778
PJM              existing                                  11.891592
                 proposed                                  -0.324759
                 retired                                   54.812665

In [164]:
eia_combined = pd.merge(
    eia_old, 
    eia_new[
        ['report_date', 
         'plant_id_eia',
         'plant_name_eia',
         'generator_id',
         'utility_id_eia',
         'utility_name_eia',
         'iso_region_clean',
         'capacity_mw', 
         'current_planned_generator_operating_date', 
         'operational_status_code',
         'operational_status_category',
         'raw_operational_status_code',
        ]
    ],
    on=["plant_id_eia", "plant_name_eia", "generator_id",'utility_id_eia', 'utility_name_eia' , "iso_region_clean"],
    how="outer",
    suffixes=("_old", "_new"),
)

#### Check that join did not cause a fan-out

In [165]:
eia_combined.shape

(1712, 39)

In [166]:
eia_new["unique_id"] = eia_new["plant_id_eia"].map(str) + "_" + eia_new["generator_id"].map(str)
eia_old["unique_id"] = eia_old["plant_id_eia"].map(str) + "_" + eia_old["generator_id"].map(str)

In [167]:
len(set(eia_new.unique_id.to_list() + eia_old.unique_id.to_list()))

1698

In [168]:
eia_combined.query("report_date_old.isnull()").iso_region_clean.unique()

array(['CAISO', 'PJM', 'NON-ISO', 'MISO', 'NYISO', 'ISONE', 'ERCOT'],
      dtype=object)

### ERCOT

In [169]:
(
    eia_combined.query("iso_region_clean == 'ERCOT'")
    .groupby(
        ["raw_operational_status_code_old", 
         "operational_status_category_old", 
         "raw_operational_status_code_new",
         "operational_status_category_new",
        ],
        dropna=False
    )
    .agg({"plant_id_eia": "nunique", "capacity_mw_old": sum, "capacity_mw_new": sum})
    .rename(columns={"plant_id_eia": "plant_count"})
    .assign(capacity_pct_change=lambda df: (df.capacity_mw_new - df.capacity_mw_old) / df.capacity_mw_old)
).sort_values(by="capacity_pct_change")

                                                                                                                                 plant_count  \
raw_operational_status_code_old operational_status_category_old raw_operational_status_code_new operational_status_category_new
L                               proposed                        NaN                             NaN                                        6
V                               proposed                        NaN                             NaN                                        5
OP                              existing                        NaN                             NaN                                       14
U                               proposed                        NaN                             NaN                                        7
P                               proposed                        NaN                             NaN                                        5
RE                              retired                         NaN                             NaN                                        2
T                               proposed                        NaN                             NaN                                        1
TS                              proposed                        NaN                             NaN                                        9
V                               proposed                        V                               proposed                                   3
U                               proposed                        V                               proposed                                   1
                                                                TS                              proposed                                   1
P                               proposed                        U                               proposed                                   1
                                                                P                               proposed                                   4
OP                              existing                        OP                              existing                                   1
TS                              proposed                        TS                              proposed                                   4
                                                                OP                              existing                                   3
NaN                             NaN                             U                               proposed                                  11
                                                                L                               proposed                                   3
                                                                OP                              existing                                  14
                                                                P                               proposed                                  35
                                                                RE                              retired                                    2
                                                                T                               proposed                                   2
                                                                TS                              proposed                                  16
                                                                V                               proposed                                   8

                                                                                                                                 capacity_mw_old  \
raw_operational_status_code_old operational_status_category_old raw_operational_status_code_new operational_status_category_new
L                               proposed                        NaN                             NaN                                   360.900003
V                               proposed                        NaN                             NaN                                   878.000000
OP                              existing                        NaN                             NaN                                  5653.400045
U                               proposed                        NaN                             NaN                                   876.499999
P                               proposed                        NaN                             NaN                                   960.099998
RE                              retired                         NaN                             NaN                                   399.699997
T                               proposed                        NaN                             NaN                                   334.299988
TS                              proposed                        NaN                             NaN                                  1546.300006
V                               proposed                        V                               proposed                              925.000000
U                               proposed                        V                               proposed                              200.000000
                                                                TS                              proposed                                2.300000
P                               proposed                        U                               proposed                              200.000000
                                                                P                               proposed                              410.000000
OP                              existing                        OP                              existing                              187.500000
TS                              proposed                        TS                              proposed                              967.000000
                                                                OP                              existing                              657.500000
NaN                             NaN                             U                               proposed                                0.000000
                                                                L                               proposed                                0.000000
                                                                OP                              existing                                0.000000
                                                                P                               proposed                                0.000000
                                                                RE                              retired                                 0.000000
                                                                T                               proposed                                0.000000
                                                                TS                              proposed                                0.000000
                                                                V                               proposed                                0.000000

                                                                                                                                 capacity_mw_new  \
raw_operational_status_code_old operational_status_category_old raw_operational_status_code_new operational_status_category_new
L                               proposed                        NaN                             NaN                                     0.000000
V                               proposed                        NaN                             NaN                                     0.000000
OP                              existing                        NaN                             NaN                                     0.000000
U                               proposed                        NaN                             NaN                                     0.000000
P                               proposed                        NaN                             NaN                                     0.000000
RE                              retired                         NaN                             NaN                                     0.000000
T                               proposed                        NaN                             NaN                                     0.000000
TS                              proposed                        NaN                             NaN                                     0.000000
V                               proposed                        V                               proposed                              925.000000
U                               proposed                        V                               proposed                              200.000000
                                                                TS                              proposed                                2.300000
P                               proposed                        U                               proposed                              200.000000
                                                                P                               proposed                              410.000000
OP                              existing                        OP                              existing                              187.500000
TS                              proposed                        TS                              proposed                              967.000000
                                                                OP                              existing                              658.800003
NaN                             NaN                             U                               proposed                             1971.599998
                                                                L                               proposed                              635.299995
                                                                OP                              existing                             3228.599998
                                                                P                               proposed                             7802.000000
                                                                RE                              retired                                19.400000
                                                                T                               proposed                              715.899994
                                                                TS                              proposed                             3128.499999
                                                                V                               proposed                             2233.899994

                                                                                                                                 capacity_pct_change
raw_operational_status_code_old operational_status_category_old raw_operational_status_code_new operational_status_category_new
L                               proposed                        NaN                             NaN                                        -1.000000
V                               proposed                        NaN                             NaN                                        -1.000000
OP                              existing                        NaN                             NaN                                        -1.000000
U                               proposed                        NaN                             NaN                                        -1.000000
P                               proposed                        NaN                             NaN                                        -1.000000
RE                              retired                         NaN                             NaN                                        -1.000000
T                               proposed                        NaN                             NaN                                        -1.000000
TS                              proposed                        NaN                             NaN                                        -1.000000
V                               proposed                        V                               proposed                                    0.000000
U                               proposed                        V                               proposed                                    0.000000
                                                                TS                              proposed                                    0.000000
P                               proposed                        U                               proposed                                    0.000000
                                                                P                               proposed                                    0.000000
OP                              existing                        OP                              existing                                    0.000000
TS                              proposed                        TS                              proposed                                    0.000000
                                                                OP                              existing                                    0.001977
NaN                             NaN                             U                               proposed                                         inf
                                                                L                               proposed                                         inf
                                                                OP                              existing                                         inf
                                                                P                               proposed                                         inf
                                                                RE                              retired                                          inf
                                                                T                               proposed                                         inf
                                                                TS                              proposed                                         inf
                                                                V                               proposed                                         inf

In [170]:
old_by_status_category = (
    eia_combined.query("iso_region_clean == 'ERCOT'")
    .groupby(
        [
         "operational_status_category_old", 
        ],
        dropna=False
    )
    .agg({"plant_id_eia": "nunique", "capacity_mw_old": sum})
    .rename(columns={"plant_id_eia": "plant_count"})
)
old_by_status_category

                                 plant_count  capacity_mw_old
operational_status_category_old
existing                                  15      5840.900045
proposed                                  49      8317.899995
retired                                    2       399.699997
NaN                                       91         0.000000

## Focus on ERCOT plants that disappeared

In [171]:
eia_ercot = eia_combined.query("iso_region_clean == 'ERCOT'")

#### % plants ERCOT disappearing

In [172]:
ercot_total_by_status_cat = (
    eia_ercot
    .groupby("operational_status_category_old")
    .agg({"capacity_mw_old": sum, "capacity_mw_new": sum})
)

ercot_disappeared_by_status_cat = (
    eia_ercot.query("operational_status_category_new.isnull()")
    .groupby("operational_status_category_old")
    .agg({"capacity_mw_old": sum, "capacity_mw_new": sum})
)

(ercot_disappeared_by_status_cat - ercot_total_by_status_cat) / ercot_total_by_status_cat

                                 capacity_mw_old  capacity_mw_new
operational_status_category_old
existing                               -0.032101             -1.0
proposed                               -0.404165             -1.0
retired                                 0.000000              NaN

In [173]:
(
    eia_combined.query("iso_region_clean == 'ERCOT' and operational_status_code_new.isnull()")
    .groupby(
        ["operational_status_code_old", "raw_operational_status_code_old", "operational_status_category_old"],
        dropna=False
    )
    .agg({"plant_id_eia": "nunique", "capacity_mw_old": sum})
).rename(columns={"plant_id_eia": "plant_count"})

,,,plant_count,capacity_mw_old
operational_status_code_old,raw_operational_status_code_old,operational_status_category_old,,
1.0,P,proposed,5,960.099998
2.0,L,proposed,6,360.900003
3.0,T,proposed,1,334.299988
4.0,U,proposed,7,876.499999
5.0,V,proposed,5,878.000000
6.0,TS,proposed,9,1546.300006
7.0,OP,existing,14,5653.400045
8.0,RE,retired,2,399.699997

In [174]:
eia_combined.query(
    "iso_region_clean == 'ERCOT' " \
    "and operational_status_code_old.isnull() " \
    "and raw_operational_status_code_new == 'OP' " \
)

,report_date_old,plant_id_eia,plant_name_eia,utility_id_eia,utility_name_eia,generator_id,capacity_mw_old,state_id_fips,county_id_fips,state,...,raw_state,raw_county,iso_region_clean,unique_id,report_date_new,capacity_mw_new,current_planned_generator_operating_date_new,operational_status_code_new,operational_status_category_new,raw_operational_status_code_new
776,NaT,7512,Arthur Von Rosenberg,16604,City of San Antonio - (TX),2,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,187.500000,NaT,7.0,existing,OP
804,NaT,50815,"Odyssey Energy Altura Cogen, LLC",55879,Odyssey Operating Services,GEN1,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,84.900002,NaT,7.0,existing,OP
805,NaT,50815,"Odyssey Energy Altura Cogen, LLC",55879,Odyssey Operating Services,GEN2,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,84.900002,NaT,7.0,existing,OP
806,NaT,50815,"Odyssey Energy Altura Cogen, LLC",55879,Odyssey Operating Services,GEN3,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,84.900002,NaT,7.0,existing,OP
807,NaT,50815,"Odyssey Energy Altura Cogen, LLC",55879,Odyssey Operating Services,GEN4,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,84.900002,NaT,7.0,existing,OP
808,NaT,50815,"Odyssey Energy Altura Cogen, LLC",55879,Odyssey Operating Services,GEN5,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,84.900002,NaT,7.0,existing,OP
809,NaT,50815,"Odyssey Energy Altura Cogen, LLC",55879,Odyssey Operating Services,GEN6,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,129.199997,NaT,7.0,existing,OP
810,NaT,50815,"Odyssey Energy Altura Cogen, LLC",55879,Odyssey Operating Services,GEN7,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,89.900002,NaT,7.0,existing,OP
861,NaT,55091,Midlothian Energy Facility,12501,Midlothian Energy LLC,STK1,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,289.000000,NaT,7.0,existing,OP
920,NaT,56754,Goat Wind LP,64644,Goat Wind LLC,1,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,80.000000,NaT,7.0,existing,OP
921,NaT,56754,Goat Wind LP,64644,Goat Wind LLC,2,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,69.599998,NaT,7.0,existing,OP
1071,NaT,62587,Mesquite Star,62085,Mesquite Star Special LLC,MESQ,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,418.899994,NaT,7.0,existing,OP
1074,NaT,62809,BMP Wind (TX),62659,BMP Wind LLC,BMP,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,340.000000,NaT,7.0,existing,OP
1142,NaT,65373,Brotman Power Station,63082,ProEnergy Services,CTG-7,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,60.500000,NaT,7.0,existing,OP
1143,NaT,65373,Brotman Power Station,63082,ProEnergy Services,CTG-8,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,60.500000,NaT,7.0,existing,OP
1148,NaT,65489,Dickens,56201,Engie North America,DIKNS,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,200.000000,NaT,7.0,existing,OP
1149,NaT,65490,Hydra,56201,Engie North America,HYDRA,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,200.000000,NaT,7.0,existing,OP
1150,NaT,65491,Paleo,56201,Engie North America,PALEO,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,200.000000,NaT,7.0,existing,OP
1151,NaT,65492,Pavo,56201,Engie North America,PAVO,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,175.000000,NaT,7.0,existing,OP
1152,NaT,65493,Tortolas,56201,Engie North America,TORTO,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,50.000000,NaT,7.0,existing,OP
1432,NaT,67738,Citadel Battery Storage Plant,66351,Citadel BESS LLC,CITDL,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,204.000000,NaT,7.0,existing,OP
1446,NaT,67849,BT Signal Ranch,66421,"BT Signal Ranch, LLC",BTS,NaN,NaN,NaN,NaN,...,NaN,NaN,ERCOT,NaN,2024-12-01,50.000000,NaT,7.0,existing,OP

In [175]:
eia_combined.query("iso_region_clean == 'ERCOT' and operational_status_code_new.isnull() and raw_operational_status_code_old == 'OP'")

,report_date_old,plant_id_eia,plant_name_eia,utility_id_eia,utility_name_eia,generator_id,capacity_mw_old,state_id_fips,county_id_fips,state,...,raw_state,raw_county,iso_region_clean,unique_id,report_date_new,capacity_mw_new,current_planned_generator_operating_date_new,operational_status_code_new,operational_status_category_new,raw_operational_status_code_new
16,2024-09-01,3439,Laredo,16604,City of San Antonio - (TX),4,131.800003,48,48479,Texas,...,TX,Webb,ERCOT,3439_4,NaT,NaN,NaT,NaN,NaN,NaN
17,2024-09-01,3439,Laredo,16604,City of San Antonio - (TX),5,131.800003,48,48479,Texas,...,TX,Webb,ERCOT,3439_5,NaT,NaN,NaT,NaN,NaN,NaN
20,2024-09-01,3441,Nueces Bay,16604,City of San Antonio - (TX),7,351.000000,48,48355,Texas,...,TX,Nueces,ERCOT,3441_7,NaT,NaN,NaT,NaN,NaN,NaN
21,2024-09-01,3441,Nueces Bay,16604,City of San Antonio - (TX),8,189.600006,48,48355,Texas,...,TX,Nueces,ERCOT,3441_8,NaT,NaN,NaT,NaN,NaN,NaN
22,2024-09-01,3441,Nueces Bay,16604,City of San Antonio - (TX),9,189.600006,48,48355,Texas,...,TX,Nueces,ERCOT,3441_9,NaT,NaN,NaT,NaN,NaN,NaN
23,2024-09-01,4939,Barney M Davis,16604,City of San Antonio - (TX),1,352.000000,48,48355,Texas,...,TX,Nueces,ERCOT,4939_1,NaT,NaN,NaT,NaN,NaN,NaN
24,2024-09-01,4939,Barney M Davis,16604,City of San Antonio - (TX),2,351.000000,48,48355,Texas,...,TX,Nueces,ERCOT,4939_2,NaT,NaN,NaT,NaN,NaN,NaN
25,2024-09-01,4939,Barney M Davis,16604,City of San Antonio - (TX),3,189.600006,48,48355,Texas,...,TX,Nueces,ERCOT,4939_3,NaT,NaN,NaT,NaN,NaN,NaN
26,2024-09-01,4939,Barney M Davis,16604,City of San Antonio - (TX),4,189.600006,48,48355,Texas,...,TX,Nueces,ERCOT,4939_4,NaT,NaN,NaT,NaN,NaN,NaN
95,2024-09-01,55137,Rio Nogales Power Project,16604,City of San Antonio - (TX),CTG3,189.000000,48,48187,Texas,...,TX,Guadalupe,ERCOT,55137_CTG3,NaT,NaN,NaT,NaN,NaN,NaN
116,2024-09-01,58001,Temple Power Station,57377,Temple Generation Holdings LLC,CTG-1,232.000000,48,48027,Texas,...,TX,Bell,ERCOT,58001_CTG-1,NaT,NaN,NaT,NaN,NaN,NaN
117,2024-09-01,58001,Temple Power Station,57377,Temple Generation Holdings LLC,CTG-2,232.000000,48,48027,Texas,...,TX,Bell,ERCOT,58001_CTG-2,NaT,NaN,NaT,NaN,NaN,NaN
118,2024-09-01,58001,Temple Power Station,57377,Temple Generation Holdings LLC,CTG-3,232.000000,48,48027,Texas,...,TX,Bell,ERCOT,58001_CTG-3,NaT,NaN,NaT,NaN,NaN,NaN
119,2024-09-01,58001,Temple Power Station,57377,Temple Generation Holdings LLC,CTG-4,232.000000,48,48027,Texas,...,TX,Bell,ERCOT,58001_CTG-4,NaT,NaN,NaT,NaN,NaN,NaN
120,2024-09-01,58001,Temple Power Station,57377,Temple Generation Holdings LLC,STG-1,339.200012,48,48027,Texas,...,TX,Bell,ERCOT,58001_STG-1,NaT,NaN,NaT,NaN,NaN,NaN
121,2024-09-01,58001,Temple Power Station,57377,Temple Generation Holdings LLC,STG-2,339.200012,48,48027,Texas,...,TX,Bell,ERCOT,58001_STG-2,NaT,NaN,NaT,NaN,NaN,NaN
125,2024-09-01,58471,Ector County Energy Center,65431,"Ector County Generation, LLC",CTG1,179.399994,48,48135,Texas,...,TX,Ector,ERCOT,58471_CTG1,NaT,NaN,NaT,NaN,NaN,NaN
126,2024-09-01,58471,Ector County Energy Center,65431,"Ector County Generation, LLC",CTG2,179.399994,48,48135,Texas,...,TX,Ector,ERCOT,58471_CTG2,NaT,NaN,NaT,NaN,NaN,NaN
309,2024-09-01,66046,Brazoria County Solar Project (Danciger),65221,"Brazoria County Solar Project, LLC",BRZ01,200.000000,48,48039,Texas,...,TX,Brazoria,ERCOT,66046_BRZ01,NaT,NaN,NaT,NaN,NaN,NaN
315,2024-09-01,66157,Red Tailed Hawk Solar LLC,57416,"Acciona Energy USA Global, LLC",GEN1,350.000000,48,48481,Texas,...,TX,Wharton,ERCOT,66157_GEN1,NaT,NaN,NaT,NaN,NaN,NaN
319,2024-09-01,66262,Cutlass Solar II,65361,Cutlass II Solar LLC,SAREN,202.800003,48,48157,Texas,...,TX,Fort Bend,ERCOT,66262_SAREN,NaT,NaN,NaT,NaN,NaN,NaN
360,2024-09-01,66571,BKV Ponder Solar 1,64743,PPM Solar LLC,BKVP1,2.500000,48,48121,Texas,...,TX,Denton,ERCOT,66571_BKVP1,NaT,NaN,NaT,NaN,NaN,NaN
391,2024-09-01,66690,"Brazos Bend BESS, LLC",65696,"Brazos Bend BESS, LLC",BEND,100.000000,48,48157,Texas,...,TX,Fort Bend,ERCOT,66690_BEND,NaT,NaN,NaT,NaN,NaN,NaN
400,2024-09-01,66792,Falfurrias BESS,65076,"HEN Infrastructure, L.L.C.",FALFU,9.900000,48,48047,Texas,...,TX,Brooks,ERCOT,66792_FALFU,NaT,NaN,NaT,NaN,NaN,NaN
403,2024-09-01,66801,"Fence Post Solar Hybrid Project, LLC",65774,"Fence Post Solar Project, LLC",FNCBE,72.000000,48,48349,Texas,...,TX,Navarro,ERCOT,66801_FNCBE,NaT,NaN,NaT,NaN,NaN,NaN
404,2024-09-01,66801,"Fence Post Solar Hybrid Project, LLC",65774,"Fence Post Solar Project, LLC",FNCPT,236.000000,48,48349,Texas,...,TX,Navarro,ERCOT,66801_FNCPT,NaT,NaN,NaT,NaN,NaN,NaN
442,2024-09-01,67019,"Copperhead Solar, LLC",62759,National Grid Renewables,CHSLR,150.000000,48,48309,Texas,...,TX,McLennan,ERCOT,67019_CHSLR,NaT,NaN,NaT,NaN,NaN,NaN
443,2024-09-01,67019,"Copperhead Solar, LLC",62759,National Grid Renewables,CHSTG,100.000000,48,48309,Texas,...,TX,McLennan,ERCOT,67019_CHSTG,NaT,NaN,NaT,NaN,NaN,NaN

- Compare % change for existing plants to % change in retirement (if existing decreases, expect retirement to increase)
- For all plants make sure status change is sensible (join on table and ID)
- For data integrity, compute % of plants that behave unexpectedly (i.e. disappear from data)
    * On merged table, combine before and after state and group by these "paths" to see how common different changes are
    * Check individual generator capacity changing
    * Generate chart for previous quarterly updates to get historic context

## By State

In [41]:
capacity_by_state_new = county_concrete_mw_new.groupby("state").sum()[
['capacity_under_construction_mw', 'capacity_awaiting_permitting_mw', 'capacity_total_proposed_mw']]

capacity_by_state_old = county_concrete_mw_old.groupby("state").sum()[
['capacity_under_construction_mw', 'capacity_awaiting_permitting_mw', 'capacity_total_proposed_mw']]

capacity_by_state_pct_change = (capacity_by_state_new - capacity_by_state_old) / capacity_by_state_old
capacity_by_state_pct_change.sort_values(by="capacity_total_proposed_mw")

,capacity_under_construction_mw,capacity_awaiting_permitting_mw,capacity_total_proposed_mw
state,,,
Rhode Island,-0.996573,0.000000,-0.983097
Louisiana,-0.865342,-0.571429,-0.749550
North Carolina,-0.973665,0.149715,-0.685760
New Mexico,-0.855556,0.000000,-0.642523
Pennsylvania,0.657201,-0.829352,-0.561816
South Carolina,0.452599,-0.732278,-0.529103
Illinois,-0.905673,2.219531,-0.525004
Idaho,0.327217,-1.000000,-0.513998
Arkansas,-0.195084,-1.000000,-0.508443
North Dakota,-0.504337,NaN,-0.504337
Michigan,-0.480658,-0.408277,-0.434911
Ohio,-0.253999,-0.496240,-0.356866
Virginia,-0.155355,-0.432098,-0.325366
Alabama,-1.000000,0.000000,-0.325203
Wyoming,-0.407332,1.453988,-0.141732
California,-0.197603,0.032818,-0.112161
Mississippi,-0.516908,-0.042736,-0.084916
Indiana,-0.149775,0.013198,-0.080151
Massachusetts,-0.002698,-0.444444,-0.023160
West Virginia,NaN,0.000000,0.000000
Vermont,0.000000,0.000000,0.000000
D.C.,0.000000,NaN,0.000000
Minnesota,0.367347,-0.004570,0.003124
Missouri,0.013514,NaN,0.013514
Delaware,NaN,0.064024,0.064024
Wisconsin,-0.338869,1.245536,0.110380
Hawaii,0.123596,NaN,0.123596
South Dakota,inf,0.000000,0.245000
Maine,-0.140177,0.461781,0.316215
Georgia,-0.097065,2.076923,0.396161
New York,1.661954,0.171204,0.462903
Kentucky,-0.007852,1.180669,0.469223
New Jersey,1.303665,0.000000,0.487280
Texas,0.178585,1.632786,0.561454
Nevada,617.800000,-0.034483,0.674856
Oklahoma,2.053783,0.444776,0.769185
Arizona,0.143053,13.925373,0.850651
Florida,0.264629,inf,0.921397
Colorado,14.181208,0.562857,1.631385
Maryland,1.895442,0.000000,1.651869
Connecticut,-0.008275,159.000000,1.941152
Nebraska,NaN,2.240000,2.240000
Tennessee,40.999998,-1.000000,13.564516
Oregon,0.404327,1197.800000,20.307846
Kansas,21.806451,NaN,21.806451
Montana,inf,19.384615,21.907692
Utah,21.000000,inf,151.000000
Iowa,NaN,NaN,NaN
Washington,NaN,NaN,NaN